@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700&display=swap');

/* 
font-family: 'Raleway', sans-serif; / headings, cal to actions, header nav
font-family: 'Open Sans', sans-serif; / body

color scheme:
Primary
#05041f / very dark blue
#585870 / desaturated blue

Accent
#0a2f94 / bright blue
#3c6e65 / moderate cyan

Neutral
#3e3efa / light grayish blue
#bfbfbf / light gray

mobile: 375px
desktop: 1440

  */

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	color: #333;
	background-image: url(design/desktop-design.jpg);
	background-position: top;
	background-repeat: no-repeat;
	opacity: 0.5;
}

header {
	background-color: rgba(137, 43, 226, 0.116);
	padding-top: 4em;
	padding-left: 5em;
	height: 200px;
}
h1 {
	color: #030032;
	font-family: 'Raleway', sans-serif;
	font-size: 2.5em;
	/* max-width: 15em; */
}
a {
	color: #36a48b;
	text-decoration: none;
}
ul {
	list-style: none;
}
img {
	width: 100%;
	display: block;
	filter: grayscale(100);
}

footer {
	/* background-color: #07043b; */
	color: white;
	height: 391px;
	fill: currentColor;
}

.icon-arrow {
	width: 20px;
	display: inline-block;
	margin-left: .5em;
	margin-bottom: -.4em;
}
.section-one-title {
	margin: 2em 0 0 2em;
	line-height: 1.5;
}
.section-one-body {
	margin: 0.9em 0 0 5em;
	letter-spacing: 1px;
	max-width: 80%;
}
.section-one-form {
	display: flex;
	max-width: 80%;
	margin-left: 5em;
	margin-top: 26px;
	background-color: rgba(240, 248, 255, 0.363);
}
.section-one-input {
	letter-spacing: normal;
	text-shadow: none;
	text-align: start;
	padding: .6em;
	margin-right: 16px;
	height: 45px;
	width: 320px;
	border: 1px solid rgba(27, 27, 27, 0.842);
	box-shadow: none;
	border-collapse: collapse;
	border-radius: 0.3em;
	color: rgba(0, 0, 0, 0.4);
}
.btn {
	height: 3em;
	/* background-color: #2f65f9; */
	color: white;
	border: none;
	border-radius: 3px;
	font-size: .85em;
	font-weight: 600;
	width: 200px;
	height: 45px;
	background-color: rgba(0, 255, 255, 0.192);
}
.c-shadow {
	-webkit-box-shadow: 6px 6px 10px -4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 6px 6px 10px -4px rgba(0, 0, 0, 0.25);
	box-shadow: 6px 6px 10px -4px rgba(0, 0, 0, 0.25);
}

.section-two-title {
	line-height: 1;
	margin-bottom: 1.1em;
}
.section-two-body {
	max-width: 80%;
}
.section-two-body__padding {
	padding-top: 1.2em;
	padding-bottom: 1em;
}
.section-two-button {
	background-color: transparent;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #36a48b;
	font-size: 16px;
	padding-bottom: .4em;
}
.l-section {
	display: flex;
	flex-flow: row;
}
.l-section__item {
	/* width: 50%; */
	outline: 1px dotted #030032;
	flex: 1;
}
.l-section-left__item {
	padding-top: 11em;
	padding-left: 4.688em;
	/* width: 1300px; */
}
.l-section-right__item {
}

.section-one {
	height: 640px;
	outline: 1px solid fuchsia;
	/* background-color: #07043b1e; */
}
.section-one-left {
	outline: 1px solid tomato;
}
.section-one-right {
	border: 2px dotted red;
}
.c-section-image {
	width: 89%;
}
.c-section-image__two {
	margin-top: 12.5em;
	margin-left: 3.7em;
	width: 80%;
}
.section-two {
	/* height: 785px; */
	color: black;
	/* background-color: #2f65f91c; */
}
.section-three {
	height: 323px;
	background-color: #5759891e;
}

.container-nav {
	display: flex;
	justify-content: space-between;
}
.c-logo {
	margin-right: 2em;
}
.nav-list {
	display: flex;
}
.nav-list__item {
	margin-right: 4.2em;
	padding: 1em 0;
}
.container-main {
	max-width: 1440px;
	margin: 0 auto;
}
.c-testimonial {
	max-width: 360px;
	height: 220px;
	margin-top: 3.5em;
	margin-bottom: 7em;
	padding-top: 1.2em;
	padding-left: 2.5em;
	padding-right: 1.6em;
	/* border: 1px solid #000; */
	border-radius: 8px;
	font-size: 14px;
	line-height: 1.7;
	-webkit-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
	/* opacity: .2;
	background-color: rgba(0, 255, 255, 0.5); */
}
.c-testimonial-quote {
	width: 14px;
	padding-bottom: 1em;
}
.c-testimonial-card {
	display: grid;
	grid-template-columns: 40px 1fr;
	grid-template-rows: 30px;
	outline: 1px dotted fuchsia;
}
.c-testimonial-avatar {
	padding-top: 1em;
	width: 32px;
	border-radius: 100%;
	display: inline-block;
	opacity: 100;
	grid-row: 1 / span 2;
}
.c-testimonial-card-name {
	align-self: end;
	font-size: 12px;
	font-weight: 700;
}
.c-testimonial-card-title {
	align-self: start;
	font-size: 9px;
}
.section-two {
	/* background: url(images/bg-curve-desktop.png); */
	border: 1px solid maroon;
}

.section-three > * {
	outline: 1px solid rosybrown;
	padding-top: 6em;
	padding-left: 5em;
	color: rgb(107, 11, 11);
}

.section-three-title {
	font-size: 2em;
	line-height: 1.6;
}
.section-three-body {
	margin-top: 1em;
	max-width: 80%;
	font-size: 1.1em;
	line-height: 1.3;
	opacity: .3;
}
.section-three-form {
	flex: 1 1 82%;
}
.section-three-input {
	margin-top: 1em;
	margin-bottom: 1.4em;
	width: 480px;
	height: 50px;
	border-radius: 6px;
	border: none;
	padding: 1em;
	font-size: .8em;
	color: rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 255, 255, 0.199);
}
.footer-logo {
	filter: brightness(0) invert(1);
	width: 12%;
	margin: 6.6em 0px 1em 5em;
}
.footer-nav {
	display: flex;
	flex-flow: row;
	padding: 0;
	margin: 0 auto;
	max-width: 80%;
	border: 2px solid tomato;
	background-color: rgba(0, 255, 255, 0.26);
}
.footer-nav-item {
	outline: 1px solid orange;
	margin: 5px;
}
.footer-link {
	color: white;
	flex: 5;
}
.phone-item {
	width: 20px;
	display: block;
}
.social {
	filter: brightness(0) invert(1);
	width: 30px;
	flex: 1;
}
